image: node:9
pages:
  cache:
    paths:
    - node_modules/

  stage: deploy
  script:
  - npm install
  - npm run build
  - rm -rf public
  - mv build public
  artifacts:
    paths:
    - public
  only:
  - master
