.login-flow .authpage {
  position: fixed !important;
    position: absolute;
    top: 0;
    bottom: 0;
}
.login-flow .authpage .container{
    position: fixed !important;
    top: 0;
    bottom: 0;
}
.login-flow .authpage .flow-wrapper {
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: table;
  width: 80%;
  padding: 10%;

  position: relative;
  background-color: white;
  top: 0;
  min-height: 40vh !important;
  margin: 8% auto;
}

.login-flow .button.submit-button {
  display: initial;
}

.login-flow .vertical-col {
  display: flex;
}
.login-flow .min-col {
  width: 50%
}

.login-flow .Select-control {
    border-color: transparent;
    border-radius: 0;
    border: none;
}

.login-flow .Select.is-focused:not(.is-open) > .Select-control {
 border-color: none;
 -webkit-box-shadows: none;
  box-shadow: none;
  background: #fff;
}

.login-flow .Select-placeholder {
  color: #999999;
}
